/- javascript "dilemmas/index"

.page-header
  %h1= "Pros and Cons of being #{current_user.username}!"

#dilemmas{style: "display: none;"}
  .row
    .offset1
      %h2 Your dilemmas
      %ul{"data-bind" => "foreach: dilemmas, visible: dilemmas().length > 0"}
        %li
          %a{href: "#", "data-bind" => "text: name, click: $parent.edit_dilemma"}
          %span{"data-bind" => "text: pros().length + ' vs ' + cons().length"}
          %a{href: "#", class: "delete", style: "display: none;",
          "data-bind" => "click: $parent.delete_dilemma"} delete
      = text_field_tag :name, nil, placeholder: "Your new dilemma",
        "data-bind" => "value: new_dilemma, valueUpdate: 'afterkeydown', executeOnEnter: add_dilemma"
      = button_tag "Add!", class: "btn success",
        "data-bind" => "click: add_dilemma"

#edit-dilemma{"data-bind" => "template: {name: 'edit-template'}"}

%script{id: "edit-template", type: "text/html"}
  %h2{"data-bind" => "text: name"}
  .row
    .span6.offset1
      %h2 Pros
      %ul.pros{"data-bind" => "foreach: pros, visible: pros().length > 0"}
        %li
          %span{"data-bind" => "text: text"}
          %a{href: "#", class: "delete", style: "display: none;",
          "data-bind" => "click: $parent.delete_pro"} delete

    .span6
      %h2 Cons
      %ul.cons{"data-bind" => "foreach: cons, visible: cons().length > 0"}
        %li
          %span{"data-bind" => "text: text"}
          %a{href: "#", class: "delete", style: "display: none;",
          "data-bind" => "click: $parent.delete_con"} delete
    .row
      .span8.offset3
        = text_field_tag nil, nil,
          "data-bind" => 'value: new_reason, valueUpdate: "afterkeydown"',
          placeholder: "A good/bad reason", tabindex: 1
        = button_tag "Pro", class: "btn success",
          "data-bind" => 'click: add_pro, enable: new_reason().length > 0',
          tabindex: 2
        = button_tag "Con", class: "btn danger",
          "data-bind" => 'click: add_con, enable: new_reason().length > 0',
          tabindex: 3
        = button_tag "Both?", class: "btn",
          "data-bind" => 'click: add_both, enable: new_reason().length > 0',
          tabindex: 4
        .actions
          = button_tag "Save", class: "btn primary", "data-bind" => "click: save_dilemma",
            tabindex: 5
          = button_tag "Back", class: "btn", "data-bind" => "click: cancel_edit",
            tabindex: 6

